*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}
body{
    background-color: black;
    color: white;    
}

header{
    background-image: url(./assets/img/design2_image1.jpg);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 5rem;
    color: black;
    text-shadow: 4px 4px gold;
}

nav{
    display: flex;
    width: 100vw;
    min-height: 5vh;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px gold;
    font-size: 2em;
}

nav a:hover{
    background-color: grey;
}


.logo{
    width: 10vw;
}

.img_hockey{
    width: 10vw;
}

.container{
    width: 100vw;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
}

.container_h2{
    display: flex;
    background-color: lightblue;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.subtitulo{
    color: black;
}

.centro{
    display: flex;
    background-color: lightseagreen;
    height: 45vh;
    align-items: center;
    justify-content: center;
}
#id_centro{
    height: 60vh;
}
.imagen{
    display: flex;
    background-color: lightsalmon;
    height: 15vh;
    justify-content: center;
}

span{
    flex-wrap: wrap;
    margin-left: 20px;
}

ol{
    margin-left: 25px;
}