*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.div_header {
    display: flex;
    min-height: 30vh;
    width: 100%;
    background-image: url(./assets/img/design2_image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-around;

}

h1 {
    color: black;
    font-size: 4rem;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    margin: 10px;
    color: gold;
    border: 2px solid whitesmoke;
    
}

a:hover {
    background-color: aqua;
}

.logo {
    width: 10vh;
}

.logo:hover {
    width: 12vh;
}

.div_main {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    background-color: bisque;
    

} 

.h2_main {
    font-size: 2rem;
    background-color: black;
    color: bisque;
    align-self: center;
}

.game_info {
    align-self: center;
}

.section {
    align-self: center;
}

dl {
    display: flex;
    flex-direction: column;
    width: 45vh;
    margin-top: 50px;
    background-color: blanchedalmond;
    font-size: 1rem;
    align-self: center;
}

dt {
    margin: 20px;
    font-weight: bold;
    
}

dd {
    margin: 10px;
}

.img_hockey {
    width: 25vh;
    height: 25vh;
    align-self: center;
}

.div_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.div_rules {
    align-self: center;
}

.div_game_info, .div_game_info2 {
    align-self: center;
}

table {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: beige;
    border-spacing: 5px;
    table-layout: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 5px solid;
}

.table {
    align-self: center;
}