* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow,sans-serif;
}

header{
    background-image: url(./assets/img/design2_image1.jpg);
    object-fit: scale-down;
}

.contenedor_header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    
    
}

.logo {
    width: 120px;
    background-color: beige;
}